@model GameTournament.Models.Organizer
@{
    ViewBag.Title = "organizerprofileview";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/css/profileview.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Hello, world!</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,900;1,200;1,400&display=swap" rel="stylesheet">

    <title>Hello, world!</title>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>

<body>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <div class="container-fluid" style="height:100vh">
        <div class="row bg-dark" style="height:100vh">
            <div class="col-sm-7" style="padding:0">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="height:100vh">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/Content/image/pubg 1.jpg" class="d-block w-100 " alt="..." style="height:100vh">
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/image/pubg 2.jpg" class="d-block w-100 " alt="..." style="height:100vh">
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/image/viper.jpg" class="d-block w-100 " alt="..." style="height:100vh">
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/image/fortnite.jpg" class="d-block w-100 " alt="..." style="height:100vh">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-sm-5 my-auto  mb-2 ">

                <h1 id="header_tag" class="text-center"style="color:white">
                    Signed In As Organizer
                </h1>
                <table class="table table-striped"style="color:white">
                    <thead>
                        <tr>

                            <th scope="col"></th>
                            <th scope="col"></th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>

                            <td> Name</td>

                            <td> @Html.DisplayFor(model => model.organizername) </td>

                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Email</td>
                            <td> @Html.DisplayFor(model => model.Organizeremail)  </td>

                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Contact Number</td>
                            <td>  @Html.DisplayFor(model => model.organizercontactnum)  </td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>

                            <td>Rating</td>
                            <td>

                                @{
                                    int rating = Convert.ToInt32(Model.rating);
                                    int reviewMenber = Convert.ToInt32(Model.reviewmember);
                                    int totalReview = 0;
                                    if (reviewMenber != 0)
                                    {
                                        totalReview = rating / reviewMenber;
                                    }

                                }
                                @totalReview
                                @for (int i = 1; i <= 5; i++)
                                {
                                    if (totalReview < i)
                                    {
                                        <span class="fa fa-star"></span>
                                    }
                                    else
                                    {
                                        <span class="fa fa-star checked"></span>

                                    }
                                }


                            </td>


                        </tr>



                    </tbody>
                </table>

                <div class="text-center">
                    <a href="@Url.Action("Competitonorganization","Home")">
                        <button type="submit" class="btn btn-primary px-4 py-2"> Create Competition </button>
                        <a href="">
                            <button type="submit" class="btn btn-primary px-4 py-2"> Review </button>
                        </a>
                    </a>
                </div>


            </div>


        </div>

    </div>


</body>

</html>

