@{
    ViewBag.Title = "ProfileView";
    Layout = null;
}




































<!--<!doctype html>
<html lang="en">
<head>-->
<!-- Required meta tags -->
<!--<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!-- Bootstrap CSS -->
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/css/profileview.css" />
    <title>Hello, world!</title>
</head>

<body>-->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


    <div class="banner">

    </div>

    <div class="regdiv">



        <h1 style="color: #7FFF00"> Welcome To Your Profile   </h1>

        <div class="formdiv" style="color: #7FFF00">
            <form action="">
                <label for="User">Signed In As:</label>
                <label for="fname">Organizer</label><br>

                <label for="fname">Name  : @ViewBag.gameUserInfo.Name</label>
                <input type="text" id="organizer name" name="organizer name" value="" style="background: transparent;"><br>

                <label for="fname">E-mail  : @ViewBag.gameUserInfo.Email</label>
                <input type="text" id="organizer mail" name="organizer mail" value="" style="background: transparent;"><br>

                <label for="fname">Contact Num : @ViewBag.gameUserInfo.Contactnum</label>
                <input type="text" id="organizer contact" name="organizer contact" value="" style="background: transparent;"><br>

                <label for="lname">Passward :</label>

                <input type="text" id="organizer pass" name="organizer pass" value="" style="background: transparent;"><br>



                <label for="lname">Discord Server Link:</label>
                <input type="text" id="discordserverlink" name="discordserverlink" value="" style="background: transparent;"><br>

                <br> <br>


            </form>
        </div>

    </div>



</body>





</html>-->
